body {
    background-color: #036831;
    color: white;
    font-family: Arial, sans-serif;
}

/* headings */
h1 {
    font-size: 36px;
    text-align: center;
    color: white;
}

h2 {
    color: black;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

p {
    font-size: 25px;
}

/* specific styles */
#yellowparagraph {
    color: yellowgreen;
}

.pretty {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 
                 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* top bar */
.common {
    background-color: aliceblue;
    border: 2px solid white;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 8px 12px;
    color: black;
}

/* left section */
.left {
    position: relative;
    margin-top: 140px;
    padding: 10px;
}

.right {
    top: 5px;
    right: 25px;
    width: 100px;
    height: 100px;
}

.footer {
    position: fixed;
    bottom: 5px;
    left: 15px;
    right: 25px;
    background-color: aliceblue;
    color: black;
    padding: 8px;
}

